[user]
    name = Mimi
    email = {{ .git.email }}
    signingkey = key::{{ .git.signingKey }}

[core]
    autocrlf = input
    compression = 9
    pager = "hunk pager"
    editor = nvim

[diff]
    context = 3
    tool = hunk

[difftool]
    prompt = false

[difftool "hunk"]
    cmd = hunk difftool \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[init]
    defaultBranch = main

[log]
    abbrevCommit = true
    graphColors = blue,yellow,cyan,magenta,green,red

[push]
    autoSetupRemote = true
    default = current
    followTags = true

[pull]
    rebase = true
    ff = only

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[url "git@github.com:"]
    insteadOf = "https://github.com/"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
