{{- $machineClass := "" -}}
{{- if eq .chezmoi.hostname "fw-minipc" -}}
{{-   $machineClass = "minipc" -}}
{{- else -}}
{{-   $machineClass = promptStringOnce . "machineClass" "Machine class (minipc/laptop/desktop/server)" -}}
{{- end -}}

sourceDir = {{ .chezmoi.workingTree | quote }}

[git]
    autoCommit = true
    autoPush = false

[add]
    secrets = "error"

[data]
    machineClass = {{ $machineClass | quote }}

[diff]
    pager = "hunk pager"

[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
