mouse-scroll-multiplier = 1
background-blur = 10
theme = Ubuntu
keybind = alt+backspace=text:\x1b\x7f
{{- $m := merge (dict) (get .machine .machineClass) .machine.defaults -}}
background-opacity = {{ $m.opacity }}
