layout {

    focus-ring {
        active-color   "#ffb4a6"
        inactive-color "#1e0f0d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a6"
        inactive-color "#1e0f0d"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffb4a6"
        inactive-color "#ff553b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a680"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4a6"
        urgent-color "#ffb4ab"
    }
}
