[Unit]
Description="WarpD Modal Keyboard Driven"

[Service]
Type=simple
StandardOutput=journal
ExecStart=warpd -f -c /home/anonymous/.config/warpd/config

[Install]
WantedBy=default.target
