# ~/.config/fish/conf.d/01-path.fish.tmpl  (chezmoi)
{{ if eq .chezmoi.os "darwin" -}}
set -gx HOMEBREW_PREFIX /opt/homebrew
set -gx HOMEBREW_CELLAR /opt/homebrew/Cellar
set -gx HOMEBREW_REPOSITORY /opt/homebrew
fish_add_path -gP /opt/homebrew/bin /opt/homebrew/sbin
set -gx MANPATH /opt/homebrew/share/man $MANPATH
set -gx INFOPATH /opt/homebrew/share/info $INFOPATH
fish_add_path -g /pkg/env/global/bin
{{ end -}}

# shims do mise antes de tudo, para valer também em shell não-interativo
fish_add_path -g $HOME/.local/share/mise/shims

for dir in $HOME/.local/bin $HOME/bin $HOME/.cargo/bin $GOPATH/bin \
           $HOME/.krew/bin $HOME/.pulumi/bin $HOME/.opencode/bin \
           $HOME/.lmstudio/bin $HOME/.toolhive/bin
    test -d $dir; and fish_add_path -g $dir
end

if test -d $DOTNET_ROOT
    fish_add_path -g $DOTNET_ROOT $DOTNET_ROOT/tools
end

if test -d $ANDROID_SDK
    fish_add_path -g $ANDROID_SDK/platform-tools $ANDROID_SDK/tools/bin $ANDROID_SDK/tools
end
{{- $m := merge (dict) (get .machine .machineClass) .machine.defaults }}
{{ range $m.extraPaths -}}
fish_add_path -g {{ . }}
{{ end -}}
