{{ if eq .chezmoi.os "linux" }}
alias pbcopy="fish_clipboard_copy"
alias pbpaste="fish_clipboard_paste"
{{ end }}

alias teec="tee /dev/tty | fish_clipboard_copy"

function md

    argparse k/keep -- $argv
    or return

    mkdir -p $argv

    if set -ql _flag_k
        return $status
    end

    if test $status -ne 0
        return $stauts
    end

    cd $argv
end

function bang_bang
    echo $history[1]
end

abbr --add !! --position anywhere --function bang_bang

function sudo_bang_bang
    echo "sudo $history[1]"
end

abbr --add pls --function sudo_bang_bang

alias cat='batcat'

alias l='eza --icons'
alias ls='eza --icons'
alias la='eza --icons -a'
alias ll='eza --icons -l --git --octal-permissions'
alias lla='eza --icons -a -l --git --octal-permissions'

export LS_TREE_IGNORE="cache|log|logs|node_modules|vendor"

alias lt='eza --icons --tree'

abbr --add k kubectl

alias docker-compose='docker compose'