alias cat='{{ includeTemplate "tool" (dict "name" "bat" "ctx" .) }}'
alias fd='{{ includeTemplate "tool" (dict "name" "fd" "ctx" .) }}'
alias cdtmp='cd (mktemp -d)'

alias l='eza --icons'
alias ls='eza --icons'
alias la='eza --icons -a'
alias ll='eza --icons -l --git --octal-permissions'
alias lla='eza --icons -a -l --git --octal-permissions'
alias lt='eza --icons --tree'

abbr --add k kubectl
abbr --add !! --position anywhere --function bang_bang
abbr --add pls --function sudo_bang_bang
